body{
    font-family: 'Inter', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
}

/* COMBO__PLUS */
.container{
    height: 100vh;
}

.combo__plus{
    background-image: url(../images/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
}

.combo__plus__info{
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: center;
    align-items: center;
    padding: 0px 60px;
}

.combo__plus__titulo{
    font-size: 1.7em;
    font-weight: 600;
}

.combo__plus__img{
    width: 300px;
    margin: 25px 0;
}


.combo__plus__botao{
    border-radius: 10px;
    padding: 1.3em;
    width: var(--largura-botao);
    font-size: 0.8em;
    font-weight: 400;
}

.combo__plus__botao--assine{
    background-color: var(--botao-azul);

}

.combo__plus__botao--alura{
    border: 1px solid var(--cinza-secundario);
    margin: 15px 0;
}

.combo__plus__obs{
    font-size: 0.7rem;
    color: var(--cinza-secundario);
}

/* ASSINA */
.assina{
    display: flex;
    align-items: center;
    padding: 0px 70px;
}

.assina__box__img{
    position: relative;
}
.assina__img--celular{
    position: absolute;
    bottom: 0;
    left: 20px;
}